/* Beer List Detail */

.beer-list__item.beer-list__item--detail {
  box-shadow: none;
  border: none;
  min-height: 100vh;
}

.beer-list__item.beer-list__item--detail img {
  max-height: 600px;
}

.beer-list__item.beer-list__item--detail a {
  display: inline;
  padding: 0;
  height: auto;
}

.beer-list__item-details {
  margin-left: 30px;
  max-width: 50%;
  text-align: left;
}

.beer-list__item-details h2 {
  border-bottom: 5px solid #333;
  margin: 0;
}

.beer-list__item-details__text,
.beer-list__item-details__stats {
  margin-top: 30px;
}

.beer-list__item-details__stats p {
  margin: 0;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .beer-list__item--detail {
    display: flex;
    flex-wrap: nowrap;
  }
}
