@import "./beer.css";

.beer-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  background: #fff;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 20px 0 30px;
}

@media only screen and (max-width: 768px) {
  .beer-list {
    padding: 0;
  }
}
