.beer-list__item {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  flex: 1 0 calc(16.66% - 20px);
  align-content: space-between;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #eee;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.05);
}

.beer-list__item p,
.beer-list__item a {
  width: 100%;
}

.beer-list__item a {
  height: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.beer-list__item a:hover img {
  transform: scale(1.05);
  transition: all 0.25s cubic-bezier(0, -0.49, 0.61, 1.92);
}

.beer-list__item a:hover .button {
  background-color: #eee;
  transition: all ease-in-out 0.2s;
}

.beer-list__item img {
  max-height: 300px;
  object-fit: contain;
  transition: all 0.15s ease;
}

.beer-list__item .favorite__icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.6;
  transition: all ease-in-out 0.2s;
}

.beer-list__item .favorite__icon:hover {
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  .beer-list__item {
    flex: 1 0 calc(25% - 20px);
  }
}

@media only screen and (max-width: 768px) {
  .beer-list__item {
    flex: 1 0 calc(50% - 20px);
  }
}
