.beer-list__item {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  align-content: space-between;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  margin: $gutter-small;
  border-radius: $border-radius;
  box-shadow: $box-shadow $easy-black;

  @include flex(6);
  @include border(1px, $gallery);

  p {
    margin-bottom: 0;
  }

  p,
  a {
    width: 100%;
  }

  a {
    height: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    padding: $gutter;
    box-sizing: border-box;

    &:hover {
      img {
        transform: $scaling;
        transition: all 0.25s $jump-easing;
      }

      button,
      .button {
        background-color: $gallery;
        transition: all $transition-in;
      }
    }
  }

  img {
    max-height: $image-max;
    object-fit: contain;
    transition: all $transition-in;
  }

  .favorite__icon {
    position: absolute;
    top: $gutter-tiny;
    right: $gutter-tiny;
    font-size: $font-small;
    cursor: pointer;
    opacity: 0.6;
    transform-origin: center center;
    transition: none;

    &:hover {
      opacity: 1;
      transition: all $transition-in;
    }

    &:active {
      transform: $scalin-huge;
      transition: all $transition-in;
    }
  }
}

@media only screen and (max-width: $tablet) {
  .beer-list__item {
    @include flex(4);
  }
}

@media only screen and (max-width: $mobile) {
  .beer-list__item {
    @include flex(2);
  }
}
