@import "./vars.scss";
@import "./beer.scss";

.beer-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  background: $white;
  box-sizing: border-box;
  padding: 0 $gutter-small;
  margin: $gutter 0 $gutter-big;
}

@media only screen and (max-width: 768px) {
  .beer-list {
    padding: 0;
  }
}
