@import "./vars.scss";
@import "./fonts.scss";

/* Global */
:root {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;
  color: $black;
  background-color: $black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
  max-width: $app-width;
  margin: 0 auto;
  background: $white;
  text-align: center;
}

a {
  font-weight: 500;
  color: $cornflower-blue;
  text-decoration: inherit;

  &:hover {
    color: $royal-blue;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: $mine-shaft;
  background: url("../src/assets/images/london-pub.jpeg") no-repeat fixed top
    center / 100% auto;
}

a {
  color: $black;

  &:hover {
    color: $mine-shaft;
  }
}

h1 {
  background: $white;
  margin: 0;
  padding: $gutter 0;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  line-height: 1;
  color: $black;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  width: 100%;
}

input[type="text"] {
  padding: $gutter-tiny $gutter-small;
  border-radius: $border-radius;
  margin: 0 $gutter-tiny;
  @include border(1px, $silver);
}

button[type="submit"] {
  background: $astronaut;
  color: $white;
}

button,
.button {
  cursor: pointer;
  color: $mine-shaft;
  background: $white;
  border-radius: $border-radius;
  padding: $gutter-tiny $gutter-small;
  font-size: $font-small;
  font-weight: bold;
  transition: all $transition-out;
  @include border(1px, $silver);

  &:hover {
    color: $mine-shaft;
    background-color: $gallery;
    transition: all $transition-in;
  }
}

.validation-error {
  position: absolute;
  bottom: 0;
  left: 0;
  color: $red;
  font-size: $font-small;
  width: 100%;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.loading-animation {
  opacity: 0;

  &.loading-animation--loaded {
    animation: fadeIn 0.2s forwards ease-out 0.1s;
    animation-iteration-count: 1;
  }
}

.error-page {
  min-height: 100vh;
}

@media only screen and (max-width: $mobile) {
  h1 {
    font-size: $font-big;
  }

  input[type="text"] {
    width: $input-width-mobile;
  }
}
