/* Breakpoints */
$tablet: 1024px;
$mobile: 768px;

/* Layout */
$app-width: 1280px;
$gutter-big: 40px;
$gutter: 20px;
$gutter-small: 10px;
$gutter-tiny: 5px;

/* Colors */
$black: #000;
$easy-black: rgba(0, 0, 0, 0.1);
$black-disabled: rgba(51, 51, 51, 0.3);
$mine-shaft: #333;
$white: #fff;
$gallery: #eee;
$silver: #ccc;
$cornflower-blue: #646cff;
$royal-blue: #535bf2;
$astronaut: #284a7c;
$red: #f00;

/* Fonts */
$font-family: Georgia, Times, "Times New Roman";
$font-huge: 3rem;
$font-large: 2rem;
$font-big: 1.063rem;
$font-small: 0.75rem;
$font-smallest: 0.625rem;

/* Animations */
$transition-in: ease-in-out 0.2s;
$transition-out: ease-in-out 0.05s;
$scaling: scale(1.05);
$scalin-huge: scale(1.05);
$slider-easing: cubic-bezier(0.37, 1.02, 0.53, 1);
$jump-easing: cubic-bezier(0, -0.49, 0.61, 1.92);

/* Styles */
$border-radius: 5px;
$input-width-mobile: 6.25rem;
$box-shadow: 2px 4px 5px;
$image-max: 18.75rem;
$image-max-big: 37.5rem;

/* Mixins */
@mixin border($width, $color) {
  border: $width solid $color;
}

// $flex: number of items per row
@mixin flex($flex) {
  flex: 1 0 calc((100% / $flex) - $gutter);
}
