:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  background: #fff;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #333;
  background: url(/src/assets/london-pub.jpeg) no-repeat top center / 100% auto;
}

h1 {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 20px 0;
  text-transform: uppercase;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

a {
  color: #000;
}

a:hover {
  color: #333;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  width: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input[type="text"] {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 5px;
}

button[type="submit"] {
  background: #284a7c;
  color: #fff;
}

.navigation {
  display: inline-flex;
  margin: 30px 0 30px;
  padding: 15px 30px;
}

.navigation li::marker {
  content: "";
}

.navigation li a {
  background: #417ace;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
}

.navigation li.selected a {
  background: #284a7c;
}

.navigation li.disabled {
  opacity: 0.3;
}

.navigation li a:hover {
  background: #3363a9;
}

footer {
  padding: 15px;
  background: #333;
  color: #fff;
  margin-top: 40px;
}

footer p {
  margin: 0;
}
